* {
    margin:0;
    padding: 0;
}

body {
    background-color:rgb(1, 56, 10);
    color: white;
}

h1, h2, h3, h4, strong {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(223, 223, 27);
}

p, a, ul li {
    font-family: 'Courier New', Courier, monospace;
    color: white!important;
}

.pdf {
    color: rgb(251, 255, 0);
}

.imglogo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.liist li {
    font-family: 'Courier New', Courier, monospace !important;
    color: white !important;
}

.navv {
    background-color: #088118;
}

#myimg {
    border: none;
    width: 90%;
    height: 50vh;
    border-radius: 10px;
    margin-top: 10px;
    outline: 1px solid rgb(6, 190, 6);
}
.image img{
    width:80%;
    height: 70vh !important;
}
.project {
    border: none;
    border-left: 3px solid whitesmoke;
    height: auto;
    margin-left: 5px;
    padding-left: 20px;
}

footer {
    background-color: #088118; 
}

#proimg img{
          width: 200px;;
          height: 25vh;
}

@media screen and (min-width:650px) {
     .section1 {
        grid-template-columns: 45% 45%;
        grid-column-gap: 100px;
     }

     #aboutme {
        margin-top: 150px;
     }

    #myimg {
        width:70%;
        
    }
    .image img{
        width:50%;
        height: 50vh !important;
    }
}

@media screen and (min-width:500px) {

    #aboutme {
       margin-top: 100px;
    }

}
    
